{% extends 'project/base.html' %}
{% block title %}Add Comment{% endblock %}
{% block content %}
<div class="add-comment-container">
    <h1>Add Comment</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Hidden field to pass challenge_id -->
        <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
        <button type="submit" class="btn btn-submit">Submit</button>
    </form>
    <a href="{% url 'news_feed' %}" class="btn btn-cancel">Cancel</a>
</div>
{% endblock %}
