{% extends 'project/base.html' %}

{% block title %}Create Profile{% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="form-title">Create Profile</h1>
    <form method="post" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        
        <!-- Account Information Section -->
        <fieldset class="form-section">
            <legend>Account Information</legend>
            <div class="form-group">
                {{ user_form.as_p }}
            </div>
        </fieldset>
        
        <!-- Profile Information Section -->
        <fieldset class="form-section">
            <legend>Profile Information</legend>
            <div class="form-group">
                {{ form.as_p }}
            </div>
        </fieldset>
        
        <!-- Submit Button -->
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create Profile</button>
        </div>
    </form>
</div>
{% endblock %}
