<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini FB</title>
    <link rel="stylesheet" href="{% static 'styles_mini_fb.css' %}">
</head>
<body>
    <header>
        <h1>Mini Facebook</h1>
        <nav>
            <div class="nav-actions">
            <a href="{% url 'create_profile' %}">Create New Profile</a>
            <a href="{% url 'show_all_profiles' %}">View All Profiles</a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
