<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini FB</title>
    <link rel="stylesheet" href="{% static 'styles_mini_fb.css' %}">
</head>
<body>
    <header>
        <h1>Mini Facebook</h1>
        <nav>
            <div class="nav-actions">
            {% if not user.is_authenticated %}
            <a href="{% url 'create_profile' %}">Create New Profile</a>
            {%endif%}
            <a href="{% url 'show_all_profiles' %}">View All Profiles</a>
            </div>

            <div class="auth-actions">
            {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
                <p>Not logged in</p>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
            </div>

        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>